*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  overflow-x: hidden;
  &__register{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  &__user-data{
    margin: 0 auto;
    text-align: center;
    color: green;
    max-width: 560px;
  }

}
.register {
  max-width: 560px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 5px 1px #eee;
  &__input-wrapper{
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
    input{
      flex: 1;
      border-radius: 6px;
      border: 1px solid #eee;
      padding:   0.5rem 0.8rem;
    }
  }
    &__submit-btn{
      min-width: 117px;
      border: none;
      color: #fff;
      font-size: 18px;
      background-color: #e2e2e2;
      padding:   0.5rem 0.8rem;
      cursor: pointer;
      margin-right: 10px;
    }
    &__logout-btn{
      min-width: 117px;
      border: none;
      color: #fff;
      font-size: 18px;
      background-color: #e2e2e2;
      padding:   0.5rem 0.8rem;
      cursor: pointer;
    }
}
.friends{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 60px;
  height: 600px;
  overflow-y: scroll;
  &__item{
    display: flex;
    gap: 2rem;
    border: 1px solid #eee;
    padding: 20px
  }
  &__item-avatar-wrapper{
    width: 150px;
    height:  150px;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    img{
      flex:1;
      object-fit: cover;
}
      }
      &__item-name{
      font-size: 22px;
    }
    &__item-email{
      font-size: 18px;
      
    }

}
.empty{
  padding: 20px;
}